:root {
  --gray: #EFEFEF;
  --blue: #08c;
}

body {
  width: 960px;
  margin: 0 auto;
  font-family: Arial;
}

.header__title {
  padding: 16px;
  text-align: center;
  background-color: var(--gray);
}

.menu {
  text-align: center;
}

.menu__item {
  margin: 8px;
  position: relative;
  display: inline-block;
  list-style-type: none;
}

.menu__item::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: inline-block;
  border-top: 1px dashed var(--blue);
}

.menu__item__link {
  text-decoration: none;
  color: var(--blue);
}

.main {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.main__aside {
  padding-left: 24px;
  border-left: 1px solid var(--gray);
  border-bottom: 1px solid var(--gray);
  text-align: justify;
}

.main__aside__description::before {
  content: '>>';
  color: var(--blue);
  margin-right: 8px;
}

.main__content {
  flex: 1 0 auto;
  width: 60%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--gray);
}

.main__content__title {
  text-align: center;
}

.main__content__articles {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.article {
  min-width: 250px;
  width: 47%;
  margin-top: 8px;
  padding: 16px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid var(--gray);
}

.article__description {
  width: inherit;
}

.article__picture {
  width: 100px;
  height: 100px;
  margin-left: 16px;
  ;
  padding: 2px 8px 16px 0;
  box-shadow: 10px 5px 5px #555;
}


.footer {
  display: flex;
  justify-content: space-between;
}

.footer__link {
  margin-top: 32px;
  color: var(--blue);
}